.getting-started-docs {
  background-color: rgba(219, 249, 184, 0.30);
}

.how-to-docs {
  background-color: rgba(202, 226, 188, 0.30);
}

.fundamentals-docs {
  background-color: rgba(202, 226, 188, 0.30);
}

.api-docs {
  background-color: rgba(202, 226, 188, 0.30);
}

.contributors-docs {
  background-color: rgba(135, 168, 120, 0.30);
}
